/* Use html element for theme root */
html {
  /* Light Mode (default) */
  --bg-color: #ffffff;
  --text-color: #212121;
  --bg-color-secondary: #f1f1f1;
  --border-color: #e0e0e0;
  --link-color: #007bff;
}

html.dark {
  /* Dark Mode */
  --bg-color: #212121;
  --text-color: #f1f1f1;
  --bg-color-secondary: #333333;
  --border-color: #555555;
  --link-color: #64b5f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}